/** PAGE 
          STYLING **/

* {                           /* Poor Man's Reset */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



@font-face {                 /* font setting for texts (titles font comes from CDN, see link in html head) */
    font-family: "youngserif";
    src: url("YoungSerif-Regular.otf");
    src: url("youngserif-regular-webfont.woff") format("woff"),
    url("youngserif-regular-webfont.woff2") format("woff2"),
}

body {
    background: #fff;
    overscroll-behavior:none;
    overflow-x: hidden;

}


.icons {                           /* grid and layout settings for icons in contact card */
    fill: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10rem;
}
@media (max-width:500px) {
     .icons { 
        padding-top: 5rem;  
     }
}


.icons > a > img{
    fill: #fff;
    height: 9vw;
    max-height: 80px;
}


.about > img {                 /* images styling for about section with responsive layout */
height:100%;
width:100%;
object-fit: cover;
object-position: right center;
padding-top: 6rem;
}

@media (max-width:500px) {
     .about > img {
          padding-top: 4rem;
     }
}


       @media (max-width:950px) {
            .about > img {

        max-height: 50vw;

            }
        }

       @media (min-width:950px) and (max-width: 1200px) {
            .about > img {

        max-height: 40vw;

            }
        }

        @media (min-width:1200px) {
            .about > img {

        max-height: 50vh;

            }
        }

@media (min-width:500px) {                 /* text styling for about section with responsive layout */
    .about > p {
padding-right: 5rem;
}
}

        @media (max-width:500px) {
            .about > p {

                font-size: 0.65rem;
                padding-right: 0.5;
                letter-spacing: 0.1;
                line-height: 1.2;
                word-spacing: 1;

            }

        }

        @media (min-width:500px) and (max-width:720px) {
                    .about > p {

                font-size: 0.9rem;
                padding-right: 0.5;
                letter-spacing: 0.1;
                line-height: 1.2;
                word-spacing: 1;

                    }
                }

        @media (min-width:720px) and (max-width:950px) {
                    .about > p {

                font-size: 1rem;
                padding-right: 1rem;

                    }
                }

        @media (min-width:950px) {
                    .about > p {
                            align-self: center;
                    }
                }


.twocolumns {                 /* grid setting for content inside cards */
    display:grid;
    grid-template-columns: 20vw auto;
    column-gap: 2rem;
    grid-template-rows: auto;
    align-self: flex-end;

}

.twocolumns-about {                 /* grid setting for content inside about card */
    display:grid;
    grid-template-columns: 25vw auto;
    column-gap: 2rem;
    grid-template-rows: auto;
    align-self: flex-end;

}

@media (max-width:500px) {
    .twocolumns-about {
        column-gap: 0.5rem;
    }
}


.light {                 /* style setting for white cards */
    background:#fff;
    color: #000;
    padding: 3rem;

}

.dark {                 /* style setting for black cards */
    background: #000;
    color:#fff;
    padding: 3rem;

}

.pad-top {
    padding-top: 6rem;
    display:grid;
}

@media (max-width:500px) {
     .pad-top {
          padding-top: 4rem;}

}

.scroll-content{
    overflow-y: scroll;

}

.no-pad{                 /* removes the padding */
    padding-right: 0;
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 1 rem;
}

a {                /* changes link color */
    color:#000;
    text-decoration:none;
}

a:hover {
    color:#3f3f3f ;
}

p > a {
    color:#a9a9a9 ;
    text-decoration:none;
}

p > a:hover {
    color:#2a2a2a  ;
    text-decoration:none;
}

h1 {                /* for titles on black background */
    font-family: 'Gap Sans', sans-serif;
    font-size: 3.5em;
    color: #fff;
    position: absolute;
    z-index: 50;
    
}

@media (max-width:500px) {
     h1 {                
     font-size:2rem
     }
}

h2 {                /* for titles on white background */
    font-family: 'Gap Sans', sans-serif;
    font-size: 3.5em;
    color: #000;
    position:absolute;
    z-index: 50;
}

@media (max-width:500px) {
     h2 {
     font-size:2rem
     }
}

h3 {                /* for first text */
    font-family: youngserif;
    font-size: 2rem;

}
@media (max-width:500px) {
     h3 {
     font-size:1rem
     }
}


h4 {
    font-family: youngserif;
    font-size: 1rem;
    padding:1rem;
    position: fixed;
    top:0;
    right: 0;

}

p {                /* for introduction text (see l:101 for responsive layout)*/
    font-family: youngserif;
    font-size: 1.1rem;
    letter-spacing: 1.1;
}

/** PAGE 
         STYLING **/

/* 
   GALLERY 
            */  
.container {                 /* sets apearance and flexgrid for image gallery */
  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19vw, 1fr));
  gap: 1rem;
  padding: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(19vh, 1fr));
  -ms-overflow-style: none;
  scrollbar-width: none;                /* so you don't see the inner scrollbar */
  margin-top: 5rem;
}

@media (max-width:500px) {                 /* layout fix for decreasing title size */
     .container {margin-top: 3rem;
     }
}

.container:-webkit-scrollbar{                 /* so you don't see the inner scrollbar */
    display: none;
  }

.container > a {
    height: 100%;
    width: 100%;
}

.container > a > img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  transition: all 100ms ease-out;
}
.container > a > img:hover {
  transform: scale(1.04);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@media (max-width:1370px) {
     .container > a > img {
     -webkit-filter: grayscale(0);
     filter: grayscale(0);
     }
}

/* 
   GALLERY 
            */  

/* CARDS
        DISPLAY
            STYLING */


:root {
    --numcards: 5;
}

#cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
    margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    pointer-events: none;                 /* disable click events in the cards so their margin dont impede on clicking events inside the cards (see l:382) */
    
}


#card_1 {                  /* top offset makes the cards cascading */
    --index: 1;
    padding-top: 45vh;
    height: 100vh;
    width:  100vw;
   }

#card_2 {
    --index: 2;
    --card-top-offset: 5vh;
    height: 100vh;
    width:  100vw;
    }

#card_3 {
    --index: 3;
    --card-top-offset: 10vh;
    height: 100vh;
    width:  100vw;
    display: flex;
}

#card_4 {
    --index: 4;
    --card-top-offset: 15vh;
    height: 100vh;
    width:  100vw;
}

#card_5 {
    --index: 5;
    --card-top-offset: 20vh;
    height: 100vh;
    width:  100vw;
}

.card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
}

.card > div {                 /* enable clicking events on contents of the cards */
    pointer-events: auto;
}


/** DEBUG so the slides apear full screen**/ 

#debug {
  position: fixed;
  top: 1em;
  left: 1em;
}
#debug::after {
  content: " Show Debug";
  margin-left: 1.5em;
  color: white;
  white-space: nowrap;
}



/* CARDS
         DISPLAY
                STYLING */

/* MODAL
        AND
            CAROUSEL
                    DIMENSIONS */

.square{                /* DIMENSION FOR SQUARE IMAGES*/
    --imgheight:70vh;
    --imgwidth:70vh;
}

        @media (max-width:795px) {                 /* RESPONSIVE */
            .square{
                --imgheight:70vw;
                --imgwidth:70vw;
            }
        }

.landscape{                /* DIMENSION FOR LANDSCAPE IMAGES --> RATIO = 2:3*/
    --imgwidth: 105vh;
    --imgheight: 70vh;
}

        @media (max-width:1170px) {                 /* RESPONSIVE */
            .landscape{
                --imgheight: 47vw;
                --imgwidth: 70vw;
            }
        }

.portrait{                /* DIMENSION FOR PORTRAIT IMAGES --> RATIO = 2:3*/
    --imgwidth:47vh;
    --imgheight:70vh;
}

        @media (max-width:730px) {                 /* RESPONSIVE */
            .portrait{
                --imgheight: 70vw;
                --imgwidth: 47vw;
            }
        }

/* MODAL
        AND
            CAROUSEL
                    DIMENSIONS */


/* MODAL 
         BOX 
             STYLING */

.blocker {                  /* POSITIONNING AND STYLING OF MODAL BACKGROUND */
 position:fixed;
 top:0;
 right:0;
 bottom:0;
 left:0;
 width:100%;
 height:100%;
 overflow:hidden;
 z-index:1;
 padding:20px;
 box-sizing:border-box;
 background-color:rgba(255,255,255,0.85);
}

.blocker:before {                  /* ALIGNS CONTENT IN THE MIDDLE */
 content:"";
 display:inline-block;
 height:100%;
 vertical-align:middle;
}

.modal {                  /* POSITIONNING AND STYLING OF MODAL CONTENT */
 display:none;
 vertical-align:middle;
 position:fixed;
 z-index:2;
 box-sizing:border-box;
 width: calc(var(--imgwidth) + 5vh);
 height: var(--imgheight);
 margin-top: 3.5rem;
}



.modal > div > p {                  /* POSITIONNING AND STYLING OF MODAL CONTENT */
    text-align: end;
    color: #fff;
    background-color:#000 ;
    padding: 3rem 4rem 3rem 3rem;
    margin-left: 5rem ;
    margin-top: -2rem;
    margin-right: -2rem;
    width: 80vw;

}

.modal a.close-modal {                  /* POSITIONNING AND STYLING OF CLOSE MODAL ICON */
 position:fixed;
 z-index: 1000;
 top:2rem;
 right:2rem;
 display:block;
 width:1.5rem;
 height:1.5rem;
 text-indent:-9999px;
 background-size:contain;
 background-repeat:no-repeat;
 background-position:center center;
 background-image:url('icons/close.svg')
}

/* MODAL 
         BOX 
             STYLING */




/* CAROUSEL 
            STYLING */

.slides {                 /* DIV FOR WHOLE LIST --> NEEDS TO BE THE SAME SIZE AS THE IMAGE TO BE ABLE TO CLICK OUTSIDE THE IMAGE TO CLOSE MODAL */
    padding: 0;
    height: var(--imgheight);
    width:var(--imgwidth);
    display: block;
    position: relative;
}


.slides * {                  /* NOT SURE IF USEFULL */
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }                  /* HIDES SLIDES NOT IN FOCUS */

.slide-container { display: block; }                  /* CONTROL POSITION OF THE SLIDES */

.slide {                  /* POSITION, SIZING AND ANIMATION OF SLIDES */
    top: 0;
    opacity: 0;
    height: var(--imgheight);
    width: var(--imgwidth);
    display: block;
    position: absolute;
    transform: translate(1,0);
    transition: all .7s ease-in-out;
}

.slide img {                  /* SIZING OF IMAGES */
    width: inherit;
    height: inherit;
}

input:checked + .slide-container  .slide {                   /* WHEN NAV DOT SELECTED, CORRESPONDING IMAGE APPEARS */
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.nav label {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 9;
    color: #000;
    font-size: 40pt;
    font-family: "youngserif";
    rotate: 90deg;
    right: -1vh;
}

.nav .prev { top: calc(var(--imgheight) + 7vh); }

.nav .next { top: calc(var(--imgheight) + 17vh); }

@media (max-width:795px) {                 /* RESPONSIVE */
            .nav .prev{
                top: calc(var(--imgheight) - 8vh);
 
            }

            .nav .next{
                top: calc(var(--imgheight) - 2vh);
            }
        }

input:checked + .slide-container .nav label { display: block; }


.nav-dots {                  /* POSITIONING OF NAV DOTS */
    width: 0;
    bottom: 3rem;
    left: calc(var(--imgwidth) + 1vw);
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {                  /* STYLING OF NAV DOTS */
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    border-radius: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

input#img-1-labelpeche:checked ~ .nav-dots label#img-dot-1-labelpeche,                  /* NAV DOTS COLOR FOR CHECKED IMAGE */
input#img-2-labelpeche:checked ~ .nav-dots label#img-dot-2-labelpeche,                  /* if not working, check that the id of dot and image is the same as in html and if there's no comma missing*/
input#img-3-labelpeche:checked ~ .nav-dots label#img-dot-3-labelpeche,                  /* could be all together but more readable this way */
input#img-4-labelpeche:checked ~ .nav-dots label#img-dot-4-labelpeche,
input#img-5-labelpeche:checked ~ .nav-dots label#img-dot-5-labelpeche {
    background: rgba(0,0,0);
}

input#img-1-gloomysunday:checked ~ .nav-dots label#img-dot-1-gloomysunday,
input#img-2-gloomysunday:checked ~ .nav-dots label#img-dot-2-gloomysunday,
input#img-3-gloomysunday:checked ~ .nav-dots label#img-dot-3-gloomysunday,
input#img-4-gloomysunday:checked ~ .nav-dots label#img-dot-4-gloomysunday,
input#img-5-gloomysunday:checked ~ .nav-dots label#img-dot-5-gloomysunday {
    background: rgba(0,0,0);
}


input#img-1-alchimie:checked ~ .nav-dots label#img-dot-1-alchimie,
input#img-2-alchimie:checked ~ .nav-dots label#img-dot-2-alchimie,
input#img-3-alchimie:checked ~ .nav-dots label#img-dot-3-alchimie,
input#img-4-alchimie:checked ~ .nav-dots label#img-dot-4-alchimie {
    background: rgba(0,0,0);
}

input#img-1-posters:checked ~ .nav-dots label#img-dot-1-posters,
input#img-2-posters:checked ~ .nav-dots label#img-dot-2-posters,
input#img-3-posters:checked ~ .nav-dots label#img-dot-3-posters,
input#img-4-posters:checked ~ .nav-dots label#img-dot-4-posters,
input#img-5-posters:checked ~ .nav-dots label#img-dot-5-posters,
input#img-6-posters:checked ~ .nav-dots label#img-dot-6-posters,
input#img-7-posters:checked ~ .nav-dots label#img-dot-7-posters {
    background: rgba(0,0,0);
}

input#img-1-autoportrait:checked ~ .nav-dots label#img-dot-1-autoportrait,
input#img-2-autoportrait:checked ~ .nav-dots label#img-dot-2-autoportrait,
input#img-3-autoportrait:checked ~ .nav-dots label#img-dot-3-autoportrait,
input#img-4-autoportrait:checked ~ .nav-dots label#img-dot-4-autoportrait {
    background: rgba(0,0,0);
}

input#img-1-zoo:checked ~ .nav-dots label#img-dot-1-zoo,
input#img-2-zoo:checked ~ .nav-dots label#img-dot-2-zoo,
input#img-3-zoo:checked ~ .nav-dots label#img-dot-3-zoo,
input#img-4-zoo:checked ~ .nav-dots label#img-dot-4-zoo,
input#img-5-zoo:checked ~ .nav-dots label#img-dot-5-zoo,
input#img-6-zoo:checked ~ .nav-dots label#img-dot-6-zoo,
input#img-7-zoo:checked ~ .nav-dots label#img-dot-7-zoo,
input#img-8-zoo:checked ~ .nav-dots label#img-dot-8-zoo {
    background: rgba(0,0,0);
}

input#img-1-tsarevna:checked ~ .nav-dots label#img-dot-1-tsarevna,
input#img-2-tsarevna:checked ~ .nav-dots label#img-dot-2-tsarevna {
    background: rgba(0,0,0);
}

input#img-1-croquis:checked ~ .nav-dots label#img-dot-1-croquis,
input#img-2-croquis:checked ~ .nav-dots label#img-dot-2-croquis,
input#img-3-croquis:checked ~ .nav-dots label#img-dot-3-croquis,
input#img-4-croquis:checked ~ .nav-dots label#img-dot-4-croquis {
    background: rgba(0,0,0);
}

/* CAROUSEL 
            STYLING */

.marquee {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 5vh;
  overflow-x: hidden;
  font-family: youngserif;
font-size: 1.5rem;
line-height: 1.8;
letter-spacing: 1.8;


}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
