/* FONT SPECIFICATIONS */
@import url("https://use.typekit.net/mhv3rsq.css");

@font-face {
    font-family: 'Avara_Bold';
    src:    url('avara/Bold/Avara-Bold.eot');
    src:    url('avara/Bold/Avara-Bold.eot?#iefix') format('embedded-opentype'),
            url('avara/Bold/Avara-Bold.woff') format('woff'),
            url('avara/Bold/Avara-Bold.woff2') format('woff2'),
            url('avara/Bold/Avara-Bold.ttf') format('truetype'),
            url('avara/Bold/Avara-Bold.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('avara/BoldItalic/Avara-BoldItalic.eot');
    src:    url('avara/BoldItalic/Avara-BoldItalic.eot?#iefix') format('embedded-opentype'),
            url('avara/BoldItalic/Avara-BoldItalic.woff') format('woff'),
            url('avara/BoldItalic/Avara-BoldItalic.woff2') format('woff2'),
            url('avara/BoldItalic/Avara-BoldItalic.ttf') format('truetype'),
            url('avara/BoldItalic/Avara-BoldItalic.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('avara/Black/Avara-Black.eot');
    src:    url('avara/Black/Avara-Black.eot?#iefix') format('embedded-opentype'),
            url('avara/Black/Avara-Black.woff') format('woff'),
            url('avara/Black/Avara-Black.woff2') format('woff2'),
            url('avara/Black/Avara-Black.ttf') format('truetype'),
            url('avara/Black/Avara-Black.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* COLOR SPECIFICATIONS */

:root {
    color-scheme: light dark;
    --primary: light-dark(#38369A, #796BD8); /* Blue */
    --primary-muted: light-dark(#8482BE, #4D4684);
    --secondary: light-dark(#BB4955, #FF858D); /* Red */
    --secondary-muted: light-dark(#D28E95, #9D5557);
    --contrast: light-dark(rgba(11,14,7,1), rgba(245,245,245,1));
    --contrast-muted : light-dark(rgba(11,14,7,0.5), rgba(245,245,245,0.5));
    --background: light-dark(rgba(245,245,245,1), rgba(11,14,7,1));
    --background-transparent: light-dark(rgba(245,245,245,0.7), rgba(11,14,7,0.7));
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.lang-link {
  color: var(--contrast);
  pointer-events: auto;
}

.lang-link.inactive {
  color: var(--contrast-muted);
  pointer-events: none;
}


/* Styles for wide screens (aspect ratio >= 1/1) */
@media (min-aspect-ratio: 1/1) {
  body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    cursor: none;
    background-color: var(--background);
  }

  a, button {
    cursor: none;
  }

  h1, h2, h3, h5, p, a {
    color: var(--contrast);
  }

  h1, h2, h3, h5 {
    font-family: 'Avara_Bold Italic';
  }

  h1 {
    font-size: 11.089rem;
  }

  h2 {
    font-size: 2.617rem;
    line-height: 4.235rem;
    letter-spacing: -0.05rem;
  }

  h3, h5 {
    font-size: 1.618rem;
  }

  p, h4, .form-line {
    font-family: 'classico-urw', sans-serif;
    font-weight: 400;
  }

  p, .form-line {
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    letter-spacing: 0;
  }

  .custom-cursor {
    color: var(--primary);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 25vh;
    height: 25vh;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 42.2 42.2'> <path d='M24.2,33.7h-6.3l-5-2.5-3.8-3.8-1.3-6.3,1.3-6.3,3.8-3.8,5-2.5h6.3l5,2.5,3.8,3.8,1.3,6.3-1.3,6.3-3.8,3.8-5,2.5Z'/></svg>");
    mask-size: 25vh;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: transform 500ms ease;
    transform: translate(-50%, -50%) scale(.3);
    z-index: 1000;
    background-color: var(--primary);
  }

  .custom-cursor--link {
    transform: translate(-50%, -50%) scale(1);
  }

  .header, .footer {
    display: grid;
    background-color: var(--background);
  }

  .header {
    grid-template-columns: 66.66vw 33.33vw;
    padding: 1%;
    position: sticky;
    top: 0;
    z-index: 30;
    margin: -1vw;
  }

  .header > div {
    display: flex;
    justify-content: flex-end;
  }

  .header > div > a {
    font-family: 'Avara_Bold Italic';
    font-size: 1.618rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .header > .header-title {
    display: none;
  }

  .footer {
    padding-left: 2vw;
    position: fixed;
    bottom: 1vh;
    width: 100vw;
    grid-template-columns: 10.6vw 8vw 8vw 50.6vw 10.6vw 8vw;
    grid-template-rows: 6vh 9vh;
    z-index: 30;
    margin: -1vw;
  }

  .footer > p {
    font-family: 'Avara_Bold Italic';
    display: inline-grid;
    text-align: left;
    grid-row: 1;
    grid-column: span 4;
    font-size: 1.618rem;
  }

  .footer > .icon {
    display: inline-grid;
    grid-row: 2;
    align-self: center;
    justify-self: end;
    height: 7vh;
    width: 7vh;
  }

  .footer > .icon:hover {
    offset-position: bottom 10px right 20px;
  }

  .cls-1, .cls-2 {
    stroke-width: 0px;
  }

  .cls-1, .cls-3 {
    fill: none;
  }

  .cls-2 {
    fill: var(--background);
  }

  a:hover .cls-2 {
    fill: none;
  }

  .cls-3 {
    stroke: var(--contrast);
    stroke-linecap: square;
    stroke-linejoin: bevel;
    stroke-width: 1.5px;
  }

/* CONTENT STYLING */
.learn-more {
    display: none;
}

.content-wrapper {
    grid-template-columns:repeat(10, 9.9vw) ;
    grid-template-rows: repeat(4, 20vh) 1fr;
    display: grid;
}

.images {
      overflow: hidden;
      z-index: 0;
      display: inline-grid;
      width:120vh;
      height: 80vh;
      position: fixed;
      top:5vh;
      left: 0;

}

.images > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}



.names {
    position: absolute;
    left:121vh;
    top:5vh;
    z-index: 10;
    line-height: 0.5;
    align-content: start;
    padding-top: 5vh;
    padding-left: 1vw;
}

.names > p {
    margin: 0;
    height: 2.1rem;
    color: var(--contrast-muted);
}

.project-info {
    position: absolute;
    top: 55vh;
    left: 18vh;
    z-index: 10;
    height: fit-content;
}

.title {
    z-index: 10;
    text-align: right;
    padding-bottom: 5vh;
    padding-top: 0vw;
    padding-right: 10vw;
    pointer-events: none;
    text-shadow: 1px 1px var(--background-transparent);

}

.description {
 border-left: 0.5vw solid var(--project-color);
 border-top: 0.5vw solid var(--project-color);
 padding-left: 5vw;
 padding-top: 2vh;
 padding-right:5vw ;
 z-index: 10;
 margin-top: -8vh;

}

.infos{
    padding:1vh;
    padding-right: 5vw;
    text-align: right;
}

.text {
    padding-left:3vh;
    padding-right: 5vw;
    padding-top: 0vh;
    padding-bottom: 5vh;
    align-content: start;
    height: 50vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    pointer-events: auto;
}
}







/* Styles for narrow screens (aspect ratio < 17/10) */
@media (max-aspect-ratio: 1/1) {
    
body {
    background-color: var(--background);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/*HEADER/FOOTER STYLING*/
/* Menu icon styling */
.cls-1, .cls-2 {
    stroke-width: 0px;
}

.cls-1, .cls-3 {
    fill: none;
}

.cls-2 {
    fill: var(--background);
}

.cls-3 {
    stroke: var(--contrast);
    stroke-linecap: square;
    stroke-linejoin: bevel;
    stroke-width: 1.5px;
}

.cls-4 {
  fill: none;
}

.cls-4, .cls-5 {
  stroke-width: 0px;
}

.cls-5 {
  fill: var(--contrast);
}

/* Header styling */
.header {
    height: 5vh;
    width: 101vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-transparent);
    backdrop-filter: blur(10px);
    transition: height .5s ease-in-out;
    z-index: 20;
}
.header-title {
 display: grid;
 background-color: var(--background);
 grid-template-columns: 80vw 20vw;
 height: 5vh;
}

.header-title > h2 {
    display: inline-grid;
    text-align: center;
    font-size: 1.618rem;
    letter-spacing: .2rem;
}

.header-title > .icon {
    display: inline-grid;
    align-self: center;
    justify-self: center;
    height: 4vh;
    width: 4vh;

}

.links-categories {
    display: grid;
    position: absolute;
    top: 5vh;
    height: 33vh;
    width: 100vw;
    grid-template-rows: 1fr 1fr;
}

.links-languages > a {
    font-size: 4.235rem;
    text-align: right;
    align-content: center;
    padding: 4vh;
}

.links-categories > a {
    font-size: 4.235rem;
    text-align: right;
    align-content: last baseline;
    padding: 4vh;
}

.links-languages {
    display: grid;
    position: absolute;
    position: absolute;
    top: 37vh;
    height: 32vh;
    width: 100vw;
}

/* Footer styling */
.footer {
    display: grid;
    position: absolute;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    justify-content: center;
    align-content: end;
    grid-template-rows: 6rem 20vw 6rem 20vw;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 20;
}

.footer > p {
    grid-column: span 3;
    text-align: right;
    font-family: Avara_Bold Italic;
    font-size: 2.617rem;
    padding-right: 4vh;
}

.footer > .icon {
    height:15vw;
    width: 15vw;
    justify-self: end;
    align-self: center;
    padding-right: 4vh;
}

.footer > .socials {
    grid-row: 1;
}

.footer > .write-me {
    grid-row: 3;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out .5s;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s ease-in-out .5s;
}
#close {
    position: absolute;
    top: 3vw;
    right: 6vw;
    height: 4vh;
    width: 4vh;
}

/*CONTENT STYLING*/
.images {
      overflow: hidden;
      z-index: 0;
      display: inline-grid;
      width:100vw;
      height:66vw;
      position: fixed;
      bottom:30vh;
      transition: all 0.3s ease-in-out; /* Add transition for smooth change */

}

.images > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.names {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
    z-index: 10;
    line-height: 0.5;
    align-content: end;
    padding-top: 5vh;
    padding-left: 1vw;
    transition: display 0.3s ease-in-out; /* Add transition for smooth hide */
}

.names > p {
    text-align: right;
    margin: 0;
    font-size: 2.1rem;
    height: 4rem;
    color: var(--contrast-muted);
}


.project-info {
    position: absolute;
    top: 10vh;
    left: 10vw;
    z-index: 0;
    height: fit-content;
    width: inherit;
    transition: top 0.3s ease-in-out; /* Add transition for smooth change */
}

.title {
    z-index: 10;
    text-align: right;
    padding-left: 1vw;
    padding-bottom: 8vh;
    padding-top: 0vw;
    padding-right: 10vw;
    pointer-events: none;

}

.description {
 border-left: 1vw solid var(--project-color);
 border-top: 1vw solid var(--project-color);
 padding-bottom: 53vh;
 padding-left: 5vw;
 padding-top: 2vh;
 padding-right:5vw ;
 z-index: 10;
 margin-top: -8vh;

}

.infos{
    padding:1vh;
    padding-right: 5vw;
    text-align: right;
}

.text {
    padding-left:3vh;
    padding-right: 5vw;
    padding-top: 0vh;
    padding-bottom: 10vh;
    align-content: start;
    height: 20vh;
    overflow-y: clip;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    pointer-events: auto;
}

.button-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.button-secondary {
    border: solid 0.5rem var(--contrast);
    width: fit-content;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}
.button-secondary:active {
    border: solid 0.5rem var(--project-color);
}
.button-secondary:active > h5 {
    color: var(--project-color);
}


.text > p:not(#intro), .text > h5 {
    display: none;
}

.learn-more {
    position: absolute;
    left: 20vw;
    right: auto;
    bottom: 8vh;
    width: fit-content;
}

.learn-more-expanded {
    bottom: -5vh !important;
    right: 5vw !important;
    left: auto !important;
}
.not-displayed {
    display: none;
}
}






